{:paths   ["src/main"]

 :deps    {org.clojure/clojure        {:mvn/version "1.10.1"}
           com.taoensso/timbre        {:mvn/version "4.10.0"}
           com.fulcrologic/fulcro-rad {:mvn/version "0.0.1-alpha-16-SNAPSHOT"}
           com.taoensso/carmine       {:mvn/version "2.19.1"}
           com.taoensso/encore        {:mvn/version "2.119.0"}
           com.github.fppt/jedis-mock {:mvn/version "0.1.16"}}

 :aliases {:test {:extra-paths ["src/test"]
                  :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.4"}}}
           :dev  {:extra-paths ["src/dev"]
                  :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
